# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\abehe\IdeaProjects\KotlinInAction\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/out/
/.idea/
KotlinInAction.iml
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
